# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
backend/venv/

# Environment variables
.env
backend/.env

# Ignore specific backend file
backend/token_generator.pybackend/scripts/hospital_credentials.csv 
backend/scripts/ambulance_credentials.csv 
backend/scripts/hospital_credentials.csv 
backend/scripts/ambulance_credentials.csv 
backend/token_generator.py 
